{% extends "houseplants/base.html" %}
{% load i18n %}
{% block content %}
<div class="containter">
    <div>
        <img src="https://media.giphy.com/media/WPtzVOKMymmZrJv8fO/giphy.gif" alt="Flowering Dino" width="250" height="250">
        <p>{% trans "Scientific Name"%}:</p><p>{{ plant }}</p>
    </div>
    <div>
        <p>{% trans "Last watering Date" %}:</p><p>{{ last_watering.date }}</p>
        <p>{% trans "Last fertilized Date" %}:</p><p>{{ last_fertilized.date }}</p>
    </div>
    <form action="{% url 'houseplants:water' plant.id %}" method="post">
        {% csrf_token %}
        <input type="submit" id="water_button" value="{% trans "Watering" %}">
    </form>
     <form action="{% url 'houseplants:fertilize' plant.id %}" method="post">
        {% csrf_token %}
        <input type="submit" id="fertilizer_button" value="{% trans "Fertilizer" %}">
    </form>
</div>
{% endblock content %}
