{% extends "houseplants/base.html" %}
{% load i18n %}
{% block content %}
{% if plant_list %}
<div class="container">
<h1>{% trans "Plant Table"%}</h1>
  <p>{% trans "This table contains all the plants" %}</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Plant ID" %}</th>
        <th>{% trans "Scientific Name" %}</th>
        <th>{% trans "Last Water Date" %}</th>
        <th>{% trans "Last Fertilized Date" %}<th>
      </tr>
    </thead>
    <tbody>
    {% for plant in plant_list %}
      <tr>
        <td>{{ plant.id }}</td>
        <td><a href="{% url 'houseplants:detail' plant.id %}">{{ plant.scientific_name }}</a></td>
        <td>{{ watering_list.date }}</td>
        <td>{{ fertilize_list.date }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<button type="button" id="add-plant" href="href="{% url 'houseplants:log' %}">Add Plant</button>
{% else %}
    <p>No plants available.</p>
    <button type="button" id="add-plant" href="{% url 'houseplants:add-plant' %}">Add Plant</button>
{% endif %}
{% endblock content %}