{% extends "houseplants/base.html" %}
{% load i18n %}
{% block content %}
{% if log_list %}
<div class="container">
<h1>{% trans "Plant Log Table" %}</h1>
  <p>{% trans "This table contains a log about all activites on that plant" %}:</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Plant Name" %}</th>
        <th>{% trans "Activity" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in log_list %}
      <tr>
        <td>{{ entry.date }}</td>
        <td><a href="{% url 'houseplants:detail' entry.plant.id %}">{{ entry.plant.scientific_name }}</a></td>
        <td>{{ entry.activity }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
    <p>{% trans "No plants available" %}.</p>
{% endif %}
{% endblock content %}