{% extends "houseplants/base.html" %}
{% block content %}
{% if log_list %}
<div class="container">
<h1>Plant Log Table</h1>
  <p>This table contains a log about all activites on that plant:</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Plant Name</th>
        <th>Activity</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in log_list %}
      <tr>
        <td>{{ entry.date }}</td>
        <td><a href="{% url 'houseplants:detail' entry.plant.id %}">{{ entry.plant.scientific_name }}</a></td>
        <td>{{ entry.activity }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
    <p>No plants available.</p>
{% endif %}
{% endblock content %}